.main_container {
    display: grid;
    height: 100vh;
    grid-gap: 1rem;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 10% 2fr 50vh 4fr;
    padding-bottom: 0.5rem;
    grid-template-areas:
    "header header header"
    ". nav ."
    ". main ."
    ". section .";
}

/* ---------- || Header || ------------ */

.main_header {
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 0;
    z-index: 5;
}

header .header_logo {
    color: var(--secondary-color);
    font-size: 1.5rem;
}

header .tagline {
    font-family: 'Marck Script', cursive;
    color: rgb(163, 89, 66);
}

header .search {
    font-size: 0.8rem;
    width: 100%;
    padding: 0.5rem 0.6rem;
    border-radius: 0;
    border: none;
    border: 1px solid var(--shadow-color);
}

.header_btn {
    font-size: 0.9rem;
    border: 0;
}

header .nav_right i  {
    font-size: 1.5rem;
    cursor: pointer;
}

header .nav_right span {
    font-size: 0.8rem;
    height: 1.5rem;
    min-width: 1.5rem;
    top: -1rem;
}

#header_box {
    border: 0;
}

/* ---------- || Navigation || ------------ */

.main_nav {
    gap: 1rem;
    grid-area: nav;
}

.nav_item {
    background-color: var(--shadow-color);
    height: 100%;
    width: 25%;
    transition: var(--trans-5);
}

.nav_item:hover {
    opacity: 1;
    transform: scale(0.96);
    transition: var(--trans-5);
}

.main_nav a{
    color: var(--primary-color);
}

/* ---------- || Main || ------------ */

.main_main {
    color: var(--primary-color);
    padding-left: 1rem;
    background-color: var(--shadow-color);
    grid-area: main;
    background-image: url("/images/glares.jpg");
    background-repeat: no-repeat;
    background-position: start ;
    background-size: cover;
}

/* ---------- || Sections || ------------ */

.main_section {
    gap: 1rem;
    grid-area: section;
}

.new_arrivals {
    display: grid;
    position: relative;
    background-color: var(--shadow-color);
    width: 100%;
    height: 100%;
    color: var(--primary-color);
}

.content {
    display: inline-flex;
    width: 100%;
    height: 100%;
    font-size: 0.5rem;   
    padding-left: 1rem;
}

.content,
.background {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.tag_heading {
    grid-area: 1 / -1;
    justify-self: flex-start;
    align-self: start;
    z-index: 1;
    padding: 1rem;
}

.main_container .adjust_img {
    height: 30vh;
    width: 100%;
    object-fit: contain;
}

/* Profile menu */
.profile_menu {
    padding: 1rem;
    position: absolute;
    box-shadow: 0px 0px 1px 8px var(--white-color);
    top: 6rem;
    background-color: var(--shadow-color);
    display: none;
}

.display_profile {
    display: flex;
}

.menu {
    gap: 1rem;
    font-size: 0.8rem;
}

.menu .menu_link {
    color: var(--secondary-color);
}

.menu .menu_link:hover {
    font-weight: var(--fw-bold);
}


/* ----- ||  Media Queries ----- */

@media only screen and (max-width: 600px) {
    .main_container {
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "nav"
        "main"
        "section";
    }
}